@model FormHTML.Models.FormModel

@{
    ViewData["Title"] = "Home Page";
}

<form class="submit-input" asp-action="Index" asp-controller="Form">
    <input type="text" class="txt-input" asp-for="Username" placeholder="User name" />
    <input type="password" class="txt-input" asp-for="Password" placeholder="Password" />
    <div class="error-occured">Wrong username or password</div>
    <input type="submit" class="submit btn btn-primary" />
</form>